@import "../../mixin.scss";
.quiz {
  &-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    position: relative;
    padding: 20px;
  }
  &-toggle {
    position: absolute;
    top: 0;
    right: 0;
    @include md {
      top: -10px;
      right: 15%;
    }
    &-button {
      font-size: 20px !important;
      cursor: pointer;
    }
  }
  &-title {
    margin-bottom: 20px;
    font-size: 18px;

    span {
      font-size: 14px;
      color: #ccc;
    }
  }
  &-question {
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    @include md {
      max-width: 300px;
    }
  }
  &-answers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin-bottom: 10px;
    @include md {
      width: 70%;
    }
    &-item {
      width: 100%;
      padding: 15px;
      margin-bottom: 10px;
      font-size: 15px;
      border-radius: 50px;
      background-color: transparent;
      border: 2px solid #ccc;
      color: white;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      &[disabled] {
        border: 2px solid #878787;
        color: #878787;
      }
    }
    &-icon {
      font-size: 18px !important;
    }

    .true {
      border: 2px solid var(--green);
      color: var(--green);
    }
    .false {
      border: 2px solid var(--red);
      color: var(--red);
    }
  }

  &-button {
    width: 80%;
    padding: 18px;
    background: var(--red);
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    border-radius: 50px;
    border: 0;
    color: #fff;
    cursor: pointer;
    &-disable {
      background-color: #878787;
      color: #d9d8d8;
    }
    @include md {
      width: 70%;
    }
  }
}
